

* {
    font-family: Raleway;
    margin: 0px;
    padding:0px;
  }

  

/* Add a black background color to the top navigation */
.topnav {
    background-color: #F2E5E5;
    overflow: hidden;
    
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #2B3A55;
    float: left;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2B3A55;
    color: white;
  }
  

  h1{
    font-family: Catamaran;
    font-weight: 600;
    color: #2B3A55;
  }
  h2{
    text-align: center;
    font-size: 1.5em;
  }

  #home{
    min-height: 95vh;
    text-align: center;
    background-color: #CE7777;
    
    

  }
  #home h1 {
    font-size: 20vmin ;
    color: #F2E5E5;
  }
  
  #home h2 {
    font-size: 5vmin;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    color: #2B3A55;
   
  }

  #about {
    background-color: #E8C4C4;
    font-size: 1.25em;
    min-height: 100vh;
  }
  #about img{
    margin-left:140px;
    float: left;
    border: 4px solid #2B3A55;
    border-radius: 4px;
  }
  #about p{
    padding-left: 390px ;
    padding-right: 60px;
  }
 

  #about h1 {
    
    margin-left: 140px;
    padding-top: 30px;
    padding-bottom: 15px;
    
  }

  #about h2{
    color:#2B3A55;
    padding-bottom: 15px;
    text-align: left;
  }

 

  .list1{
    float:left;
    margin-left: 140px;
  }
  .list2{
    margin-left: 820px;
  }
  .list2 h2{
    text-align: left;
  }

#resume{
    margin-left: 140px;
}
#resume h1{
    padding-top: 20px;
    padding-bottom: 10px;       
}
#resume iframe{
    border-color: #2B3A55;
}

#contact{
    background-color: #2B3A55;
    min-height: 45vh
    
}

#contact h1 {
    
    margin-left: 140px;
    padding-top: 20px;
    color: #F2E5E5;
  }
  
  #contact p {
    margin-left: 140px;
    padding-top: 20px;
    color: #F2E5E5;
    font-size: 1.25em;
  }

.btn{
    margin-left: 120px;
    padding-top: 25px;
}

.btn a{
    background-color: #2B3A55;
    color: #F2E5E5; 
    text-decoration: none;
    float: left;
    font-size: 28px;
    border: 2px solid #E2EFF1;
    border-radius: 6px;
    margin-left: 20px;
    padding:6px;  
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
  #contact p{
    font-size: 14px;
  }

  .btn a{
    font-size: 14px;
  }
  .topnav a{
    font-size: 16px;
  }

  #home h1{
    font-size: 100px;
  }
  #home h2{
    font-size: 30px;
  }

  #about p{
    font-size: 14px;
  }
  #about img{
    float: none; 
    width: 220px;
  }
  #about p{
    padding-left: 140px ;
  }
  #about h2{
    font-size: 22px;
  }

  #about li{
    font-size: 14px;
  }
  .list1{
    float:none; 
  }
  .list2{
    margin-left: 140px;
  }
  .brnone{
    display:none;
  }
}
@media screen and (min-width: 601px){
  .brsure{
    display:none;
  }
}





  