

* {
    font-family: Raleway;
    margin: 0px;
    padding:0px;
  }

  

/* Add a black background color to the top navigation */
.topnav {
    background-color: #F2E5E5;
    overflow: hidden;
    position: fixed;
    width: 100%;
    
  }

  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #2B3A55;
    float: left;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2B3A55;
    color: white;
  }
  

  h1{
    font-family: Catamaran;
    font-weight: 600;
    color: #2B3A55;
  }
  h2{
    text-align: center;
    font-size: 1.5em;
  }

  #home{
    min-height: 95vh;
    text-align: center;
    background: rgb(43,58,85);
    background: linear-gradient(180deg, rgba(43,58,85,1) 20%, rgba(206,119,119,1) 95%);
    padding-top: 60px;
    

  }
  #home h1 {
    font-size: 20vmin ;
    color: #F2E5E5;
  }
  
  #home h2 {
    font-size: 5vmin;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
   
  }

  #about {
    background-color: #E8C4C4;
    font-size: 1.25em;
    min-height: 105vh;
    padding-top: 40px;
  }
  #about img{
    margin-left:140px;
    float: left;
    border: 4px solid #2B3A55;
    border-radius: 4px;
  }
  #about p{
    padding-left: 390px ;
    padding-right: 60px;
  }
 

  #about h1 {
    
    margin-left: 140px;
    padding-top: 30px;
    padding-bottom: 15px;
    
  }

  #about h2{
    color:#2B3A55;
    padding-bottom: 15px;
    text-align: left;
  }

 

  .list1{
    float:left;
    margin-left: 140px;
  }
  .list2{
    margin-left: 800px;
  }
  .list2 h2{
    text-align: left;
  }

#resume{
  padding-top:40px ;
  padding-right: 140px;
  background: rgb(242,229,229);
  background: linear-gradient(180deg, rgba(242,229,229,1) 25%, rgba(255,255,255,1) 100%);
}

#resume h1{
    margin-left: 140px;
    padding-top: 30px;
    padding-bottom: 20px;       
}
#resume iframe{
    border-color: #2B3A55;
    margin-left: 140px;
    
}

#contact{
    background-color: #2B3A55;
    min-height: 45vh
    
}

#contact h1 {
    
    margin-left: 140px;
    padding-top: 20px;
    color: #F2E5E5;
  }
  
  #contact p {
    margin-left: 140px;
    padding-top: 20px;
    color: #F2E5E5;
    font-size: 1.25em;
  }

.btn{
    margin-left: 120px;
    padding-top: 25px;
}

.btn a{
    background-color: #2B3A55;
    color: #F2E5E5; 
    text-decoration: none;
    float: left;
    font-size: 28px;
    border: 2px solid #E2EFF1;
    border-radius: 6px;
    margin-left: 20px;
    padding:6px;  
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 26px;
  }

  .topnav a{
    font-size: 16px;
    padding: 25px 15px;
  }

  #home h1{
    font-size: 100px;
  }
  #home h2{
    font-size: 30px;
  }

  #about p{
    font-size: 14px;
    padding-left:65px ;
  }
  #about img{
    float: none; 
    width: 230px;
    margin-left:60px;
  }

  #about h2{
    font-size: 22px;
  }
  #about h1{
    margin-left: 80px;
  }

  #about li{
    font-size: 14px;
  }
  .list1{
    float:none; 
    margin-left: 75px;
  }
  .list2{
    margin-left: 75px;
  }

  #resume{
    padding-right: 8px;
  }
  #resume h1{
    margin-left: 80px;
  }
  #resume iframe{
    margin-left: 20px;
}
#contact h1{
  margin-left: 80px;
}
#contact p{
  font-size: 14px;
  margin-left: 45px;
}
.btn{
  margin-left:25px;
}
.btn a{
  font-size: 14px;
}
  .brnone{
    display:none;
  }
}
@media screen and (min-width: 801px){
  .brsure{
    display:none;
  }
}





  